In [ ]:
#listas - Listas são definidas por []
#Listas são indexadas e iniciadas em 0


lista=['gabriel',34,True]
print(type(lista))
lista

lista[0]

lista[0:3]

In [ ]:
lista[0]='Rodrigues'

In [ ]:
#tupla

tupla = ('gabriel',34,True)
print(type(tupla))
tupla

In [ ]:
tupla[:2]

In [ ]:
#Set não é indexisável
Set = {'gabriel',34,True}
print(type(Set))
Set

In [ ]:
Set[0]

In [ ]:
#dicionario indexisavel mas não ordenavel

dicionario = {'nome':'gabriel','idade':34, 'professor':True}
print(type(dicionario))
dicionario

In [ ]:
dicionario['nome'] = 'Rodrigues'
dicionario

In [ ]:
range(1,10,1)
list(range(1,10,1))

In [ ]:
list(range(1,10))

In [ ]:
list(range(10,0,-1))
list(range(0,40,5))
testar = list(range(0,55,5))
testar

In [80]:
lista_1=['pão',0.6,False,'Corado']
lista_2=['pão',0.5,True,'Queimado']
lista_3=['K']
lista_4=[1,2,3,4]

In [55]:
lista_1+lista_2

['pão', 0.6, False, 'Corado', 'pão', 0.5, True, 'Queimado']

In [59]:
lista_1.append(lista_3)
lista_1

['pão', 0.6, False, 'Corado', ['K'], ['K'], ['K'], ['K']]

In [64]:
lista_3

['K']

In [66]:
len(lista_4*10)

40

In [75]:
len('IgorRenatodafonsecavasques')

26

In [81]:
lista_2.pop(1)
lista_2

['pão', True, 'Queimado']

In [82]:
lista_2.insert(0,0.5)
lista_2

[0.5, 'pão', True, 'Queimado']

OPERADORES

In [86]:
#comparativos    == != < >

#1==2
#1!=2
#1>1
1<=1

True

In [91]:
#lógicos And Or

#1>=1 and 2<=2

1>=1 or 2<2 or 3!=3

True

In [97]:
valor = 123123123
valor%3==0

True

In [98]:
Nome = 'Gabriel Rodrigues'

In [102]:
Nome.find(' ')!=-1 & Nome.find('G')!=-1

True

In [101]:
Nome.isnumeric() or len(Nome)>10

True

ATIVIDADES

In [103]:
nomes=input('Informe os nomes: ')

In [106]:
nomes=list(nomes.split(','))

In [109]:
print('Do conjunto de dados informado com {} elementos, temos {} nomes únicos.'.format(len(nomes),len(set(nomes))))
len(set(nomes))   #retira os valores repetidos

Do conjunto de dados informado com 8 elementos, temos 6 nomes únicos.

6

In [113]:
#Atividade 2

estoque={'Maçãs':50, 'Bananas':30, 'Peras':40}
produto = input('Digite o nome do produto: ')
quantidade = int(input('Digite a quantidade do produto: '))

estoque[produto]=quantidade

In [114]:
estoque

{'Maçãs': 50, 'Bananas': 30, 'Peras': 40, 'Mamãos': 323}

In [115]:
dicionario=dict()
dicionario['aula']=2
dicionario

{'aula': 2}

In [116]:
dicionario=dict()
dicionario[2024]=2
dicionario

{2024: 2}

#Atividade 3

#Crie um programa que pegue uma frase inserida pelo usuario e execute as seguintes operações:
#converta tudo para maiusculo
#conte quantas vezes a palavra python aparece
#exiba a frase sem espaços em branco a esquerda e a direita.


frase=input('Digite uma frase: ').upper()

In [123]:
frase.count('PYTHON')

2

In [124]:
frase.strip()

'EU AMO PYTHON, MAS O PYTHON NÃO ME AMAA'

In [126]:
#Atividade 4

conjunto_1 = (input('Digite um conjunto separado por virgula: '))
conjunto_2 = (input('Digite um conjunto separado por virgula: '))

In [127]:
conjunto_1=conjunto_1.split(',')
conjunto_2=conjunto_2.split(',')

In [128]:
conjunto_1

['1', '5', '324', '55', '12']